.lesson {
  margin-top: 30px;
  background: #f5f0e6;
  padding: 30px;
  border-radius: 12px;
}

.lesson h1 {
  margin-top: 0;
}

.task {
  margin-top: 20px;
  padding: 15px;

  background: #fff;
  border-left: 4px solid #cdb492;

  font-weight: 500;
}

.navBtn,
.completeBtn {
  padding: 8px 16px;
  background-color: #f8f7f6;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  margin: 0 5px;
  transition: background 0.2s;
  font-size: 16px;
   font-weight: 500;
}

.navBtn:hover,
.completeBtn:hover {
  background-color: #e0d5c3;
}



.completeBtn {
  border: none;
  margin-bottom: 40px;
 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.completeBtn:disabled {
  background: #10b981;
  cursor: default;
}
