.card {
  display: block;
  padding: 20px;
  background:var(--background-secondary-color);
  border-radius: 12px;
  text-decoration: none;
  color:var(--base-black-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.12);
}


.card h3 {
  margin: 0 0 6px 0;
  font-weight: 600;
  font-size: 18px;
  color:var(--base-black-color);
}

.card h6 {
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 14px;
  color:var(--base-grey-color);
}

.titleWrapp {
   display: flex;
  justify-content: space-between;
  align-items: center;
}


.openButton {
  display: inline-block;
  padding: 4px 10px;
  background-color:var(--accent-color);
  color:var(--background-primary-light-color);
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.openButton:hover {
  background-color:var(--accent-hover-color);
}
