.navBtn {
  padding: 8px 16px;
  background-color: #f8f7f6;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  margin: 10px 5px;
  margin-bottom: 20px;
  transition: background 0.2s;
  font-size: 16px;
}

.navBtn:hover {
  background-color: #e0d5c3;
}
