.navBtn {
  padding: 8px 16px;
  background-color: var(--background-primary-light-color);
  border-radius: 6px;
  text-decoration: none;
  color:var(--base-black-color);
  font-weight: 500;
  margin: 10px 5px;
  margin-bottom: 20px;
  transition: background-color 0.2s;
  font-size: 16px;
}

.navBtn:hover {
  color: var(--accent-color);
  background-color: var(--filters-color);
}
