.footer {
  background-color:var(--background-secondary-color); 
  padding: 10px 20px;
  text-align: center;
  font-size: 24px;
  color:var(--base-grey-color);
  margin-top: 20px;
  border-radius: 16px;
}